.button {
    font: inherit;
    cursor: pointer;
    border-radius: 25px;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  /* background: #ccc; */
  /* border-color: #ccc; */
  /* color: #666666; */
  cursor: not-allowed;
}
